USE [Praiar]
GO
/****** Object:  Table [dbo].[Balnearios]    Script Date: 19/5/2025 08:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Balnearios](
	[IdBalneario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[IdPropietario] [int] NOT NULL,
	[Dirección] [geography] NOT NULL,
	[Telefono] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Balnearios] PRIMARY KEY CLUSTERED 
(
	[IdBalneario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BalneariosCarpas]    Script Date: 19/5/2025 08:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BalneariosCarpas](
	[IdBalneariosCarpas] [int] IDENTITY(1,1) NOT NULL,
	[IdCarpa] [int] NOT NULL,
	[IdBalneario] [int] NOT NULL,
 CONSTRAINT [PK_BalneariosCarpas] PRIMARY KEY CLUSTERED 
(
	[IdBalneariosCarpas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BalneariosServicios]    Script Date: 19/5/2025 08:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BalneariosServicios](
	[IdBalneariosServicios] [int] IDENTITY(1,1) NOT NULL,
	[IdBalneario] [int] NOT NULL,
	[IdServicio] [int] NOT NULL,
 CONSTRAINT [PK_BalneariosServicios] PRIMARY KEY CLUSTERED 
(
	[IdBalneariosServicios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carpas]    Script Date: 19/5/2025 08:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carpas](
	[IdCarpa] [int] IDENTITY(1,1) NOT NULL,
	[CantSillas] [int] NOT NULL,
	[CantMesas] [int] NOT NULL,
	[CantReposeras] [int] NOT NULL,
	[Posicion] [int] NOT NULL,
	[Reservado] [bit] NOT NULL,
	[FechaDeInicio] [date] NULL,
	[FechaDeSalida] [date] NULL,
	[IdCliente] [int] NULL,
	[Capacidad] [int] NOT NULL,
 CONSTRAINT [PK_Carpas] PRIMARY KEY CLUSTERED 
(
	[IdCarpa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ciudades]    Script Date: 19/5/2025 08:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudades](
	[IdCiudad] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Ciudades] PRIMARY KEY CLUSTERED 
(
	[IdCiudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CiudadesXBalnearios]    Script Date: 19/5/2025 08:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CiudadesXBalnearios](
	[IdCiudadesXBalnearios] [int] IDENTITY(1,1) NOT NULL,
	[IdCiudad] [int] NOT NULL,
	[IdBalneario] [int] NOT NULL,
 CONSTRAINT [PK_CiudadesXBalnearios] PRIMARY KEY CLUSTERED 
(
	[IdCiudadesXBalnearios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 19/5/2025 08:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Mail] [varchar](50) NOT NULL,
	[DNI] [int] NOT NULL,
	[Telefono] [varchar](50) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Propietarios]    Script Date: 19/5/2025 08:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Propietarios](
	[IdPropietario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Mail] [varchar](50) NOT NULL,
	[DNI] [int] NOT NULL,
	[Telefono] [varchar](50) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Propietarios] PRIMARY KEY CLUSTERED 
(
	[IdPropietario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reseñas]    Script Date: 19/5/2025 08:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reseñas](
	[IdReseña] [int] IDENTITY(1,1) NOT NULL,
	[Comentario] [varchar](50) NOT NULL,
	[Likes] [int] NOT NULL,
	[Estrellas] [int] NOT NULL,
	[IdCliente] [int] NOT NULL,
 CONSTRAINT [PK_Reseñas] PRIMARY KEY CLUSTERED 
(
	[IdReseña] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReseñasXBalnearios]    Script Date: 19/5/2025 08:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReseñasXBalnearios](
	[IdReseñasXBalnearios] [int] IDENTITY(1,1) NOT NULL,
	[IdReseña] [int] NOT NULL,
	[IdBalneario] [int] NOT NULL,
 CONSTRAINT [PK_ReseñasXBalnearios] PRIMARY KEY CLUSTERED 
(
	[IdReseñasXBalnearios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 19/5/2025 08:58:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicios](
	[IdServicio] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Servicios] PRIMARY KEY CLUSTERED 
(
	[IdServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ciudades] ON 

INSERT [dbo].[Ciudades] ([IdCiudad], [Nombre]) VALUES (1, N'San Clemente del Tuyú')
INSERT [dbo].[Ciudades] ([IdCiudad], [Nombre]) VALUES (2, N'Las Toninas')
INSERT [dbo].[Ciudades] ([IdCiudad], [Nombre]) VALUES (3, N'Costa Chica')
SET IDENTITY_INSERT [dbo].[Ciudades] OFF
GO
ALTER TABLE [dbo].[Balnearios]  WITH CHECK ADD  CONSTRAINT [FK_Balnearios_Propietarios] FOREIGN KEY([IdPropietario])
REFERENCES [dbo].[Propietarios] ([IdPropietario])
GO
ALTER TABLE [dbo].[Balnearios] CHECK CONSTRAINT [FK_Balnearios_Propietarios]
GO
ALTER TABLE [dbo].[BalneariosCarpas]  WITH CHECK ADD  CONSTRAINT [FK_BalneariosCarpas_Balnearios] FOREIGN KEY([IdBalneario])
REFERENCES [dbo].[Balnearios] ([IdBalneario])
GO
ALTER TABLE [dbo].[BalneariosCarpas] CHECK CONSTRAINT [FK_BalneariosCarpas_Balnearios]
GO
ALTER TABLE [dbo].[BalneariosCarpas]  WITH CHECK ADD  CONSTRAINT [FK_BalneariosCarpas_Carpas] FOREIGN KEY([IdCarpa])
REFERENCES [dbo].[Carpas] ([IdCarpa])
GO
ALTER TABLE [dbo].[BalneariosCarpas] CHECK CONSTRAINT [FK_BalneariosCarpas_Carpas]
GO
ALTER TABLE [dbo].[BalneariosServicios]  WITH CHECK ADD  CONSTRAINT [FK_BalneariosServicios_Balnearios] FOREIGN KEY([IdBalneario])
REFERENCES [dbo].[Balnearios] ([IdBalneario])
GO
ALTER TABLE [dbo].[BalneariosServicios] CHECK CONSTRAINT [FK_BalneariosServicios_Balnearios]
GO
ALTER TABLE [dbo].[BalneariosServicios]  WITH CHECK ADD  CONSTRAINT [FK_BalneariosServicios_Servicios] FOREIGN KEY([IdServicio])
REFERENCES [dbo].[Servicios] ([IdServicio])
GO
ALTER TABLE [dbo].[BalneariosServicios] CHECK CONSTRAINT [FK_BalneariosServicios_Servicios]
GO
ALTER TABLE [dbo].[Carpas]  WITH CHECK ADD  CONSTRAINT [FK_Carpas_Clientes] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[Carpas] CHECK CONSTRAINT [FK_Carpas_Clientes]
GO
ALTER TABLE [dbo].[CiudadesXBalnearios]  WITH CHECK ADD  CONSTRAINT [FK_CiudadesXBalnearios_Balnearios] FOREIGN KEY([IdBalneario])
REFERENCES [dbo].[Balnearios] ([IdBalneario])
GO
ALTER TABLE [dbo].[CiudadesXBalnearios] CHECK CONSTRAINT [FK_CiudadesXBalnearios_Balnearios]
GO
ALTER TABLE [dbo].[CiudadesXBalnearios]  WITH CHECK ADD  CONSTRAINT [FK_CiudadesXBalnearios_Ciudades] FOREIGN KEY([IdCiudad])
REFERENCES [dbo].[Ciudades] ([IdCiudad])
GO
ALTER TABLE [dbo].[CiudadesXBalnearios] CHECK CONSTRAINT [FK_CiudadesXBalnearios_Ciudades]
GO
ALTER TABLE [dbo].[Reseñas]  WITH CHECK ADD  CONSTRAINT [FK_Reseñas_Clientes] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[Reseñas] CHECK CONSTRAINT [FK_Reseñas_Clientes]
GO
ALTER TABLE [dbo].[ReseñasXBalnearios]  WITH CHECK ADD  CONSTRAINT [FK_ReseñasXBalnearios_Balnearios] FOREIGN KEY([IdBalneario])
REFERENCES [dbo].[Balnearios] ([IdBalneario])
GO
ALTER TABLE [dbo].[ReseñasXBalnearios] CHECK CONSTRAINT [FK_ReseñasXBalnearios_Balnearios]
GO
ALTER TABLE [dbo].[ReseñasXBalnearios]  WITH CHECK ADD  CONSTRAINT [FK_ReseñasXBalnearios_Reseñas] FOREIGN KEY([IdReseña])
REFERENCES [dbo].[Reseñas] ([IdReseña])
GO
ALTER TABLE [dbo].[ReseñasXBalnearios] CHECK CONSTRAINT [FK_ReseñasXBalnearios_Reseñas]
GO
