/* Fondo con imagen */
.busqueda-home .hero {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: visible;
}

.hero-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent; /* eliminá el fondo azul acá */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2; /* debe ir encima del .hero-darken */
}

.hero-darken {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 63, 94, 0.7); /* #003F5E al 70% */
  z-index: 1;
}

.hero-title {
  color: white;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;
  text-align: center;
  font-family: "El Messiri";
}

/* Contenedor del formulario */
.busqueda-form {
  display: flex;
  background-color: white;
  border-radius: 2rem;
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  align-items: center;
  flex-wrap: wrap;
  gap:1.5rem;
}

/* Grupo de inputs */
.input-group {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
  color: #005984; /* #005A84 con 70% de opacidad */
}

.subtitulo {
  font-weight: bold;
  font-size: 1.2rem;
}

/* Inputs y selects */
select,
input[type="text"] {
  padding: 0.5rem 1rem;
  border: 1px solid #005984;
  border-radius: 15px;
  font-size: 0.9rem;
  max-width: 180px;
  appearance: none;
  background-color: white;
  color: #005A84;
}

select {
  transition: all 0.3s ease;
}

select:hover,
select:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 89, 132, 0.3);
  transform: scale(1.02);
}

/* Iconos */
.icon, .iconFecha {
  width: 40px;
  height: auto;
}

/* Fechas */
.date-group .date-inputs {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Botón de búsqueda */
.search-button {
  background-color: #006699;
  border: none;
  border-radius: 1rem;
  padding: 0.8rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.search-button:hover, .iconFecha:hover {
  background-color: #00527c;
  transform: scale(1.05);
}

input[type="text"]:focus,
.search-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 89, 132, 0.3);
}

.search-icon {
  width: 28px;
  height: 28px;
}

/* Responsive */
@media (max-width: 895px) {
  .busqueda-form {
    flex-direction: column;
    align-items: stretch;
  }

  select,
  input[type="text"],
  .date-summary {
    width: 100%;
  }

  .search-button {
    width: 100%;
  }
}

