.login-background {
  background-image: url('../../assets/fondoLogin.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  max-width: 480px; /* MÁS ANCHO */
  width: 100%;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  font-family: 'Arial', sans-serif;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 20px;
  text-align: left;
}

.subtitulo {
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 4px;
  color: #003F5E;
}

.login-form input {
  width: 100%;
  padding: 12px;
  border: 2px solid #003F5E;
  border-radius: 10px;
  font-size: 14px;
  color: #333;
  background-color: white;
}

.login-form input::placeholder {
  color: #aaa;
}

.login-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
  background-color: #B0DBE7;
  cursor: pointer;
  font-weight: bold;
  color: #003F5E;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #B0DBE7;
  
}

.link-btn {
  background-color: transparent;
  border: none;
  color: #0077aa;
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
}

hr {
  height: 1px;
  background-color: #333; /* Más oscuro */
  width: 80%; /* Más largo */
  margin: 20px auto;
}

.login-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 20px 0;
}

.login-icons img {
  width: 36px;
  height: auto;
  cursor: pointer;
  border: 1px solid black; /* Borde negro fino */
  border-radius: 50%;
  padding: 4px;
  background-color: white;
}

.extra-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.secondary {
  background-color: #B0DBE7;
  color: #003F5E;
  border: 1px solid #B0DBE7;
}
