.login-background {
  background-image: url('../../assets/fondoLogin.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding-block-end: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  max-width: 480px; /* MÁS ANCHO */
  width: 100%;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  font-family: 'Arial', sans-serif;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 20px;
  text-align: left;
}

.subtitulo {
  font-weight: bold;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 4px;
  color: #003F5E;
}

.login-form input {
  width: 100%;
  padding: 12px;
  border: 2px solid #003F5E;
  border-radius: 10px;
  font-size: 14px;
  color: #333;
  max-width: none;
  background-color: white;
}

.login-form input::placeholder {
  color: #aaa;
}

.login-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
  background-color: #B0DBE7;
  cursor: pointer;
  font-weight: bold;
  color: #003F5E;
  transition: background-color 0.3s;
  
}
button:focus {
  outline: none;
  box-shadow: none;
}
.secondary:hover {
  background-color: #B0DBE7;
  
}

.link-btn {
  background-color: transparent;
  border: none;
  color: #0077aa;
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
}

.linea {
  height: 1.5px;
  background-color: #ccc;
  width: 360px;           /* Ajustás el largo que querés */
  align-self: center;    /* La centra verticalmente */
  border: none;
}

.login-icons {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

/* ...existing code... */

.login-icons div {
  width: 36px;
  height: 36px;
  cursor: pointer;
  border-radius: 50%;
  padding: 4px;
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

#icon-google {
  background-image: url('../../assets/google.png');
}

#icon-facebook {
  background-image: url('../../assets/facebook.png');
}

#icon-apple {
  background-image: url('../../assets/apple.jpg');
}

.extra-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 30px;
}

.secondary {
  background-color: #B0DBE7;
  color: #003F5E;
}

.password-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.password-wrapper input {
  flex: 1;
  padding-right: 40px; /* Espacio para el ícono */
}

.eye-toggle {
  background: none;
  border: none;
  position: absolute;
  right: 10px;
  cursor: pointer;
  padding: 0;
}

.ojo-icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
  transition: transform 0.2s;
}

